# CakePHP 3

# Ignore les fichiers et dossiers générés automatiquement
/vendor/
/var/
/var/cache/
/var/log/
/var/sessions/
/public/bundles/
/public/uploads/
/node_modules/

# Fichiers d'environnement et de configuration locaux
.env
.env.local
.env.*.local

# Fichiers IDE et éditeurs
/.idea/
/*.iml
/.vscode/
/nbproject/

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Logs et autres fichiers temporaires
*.log
*.lock
*.swp
*.bak
*.tmp

# Fichiers de build
/build/

# Exclusions spécifiques au déploiement
/public/.htaccess

