{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>
    {# Inclure le fichier CSS généré par Webpack Encore #}
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
</head>
<body>
    {% block body %}{% endblock %}

    {# Inclure le fichier JS généré par Webpack Encore #}
    <script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
